<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <base href="/">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="modules/common/app.css">
    <link rel="stylesheet" href="modules/player/player.css">
    <!-- bower:js -->
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <script src="https://www.youtube.com/player_api"></script>
    <script src="/app.module.js"></script>
    <script src="/app.config.js"></script>
    <script src="modules/common/injector/injector.services.js"></script>
    <script src="modules/common/config/config.services.js"></script>
    <script src="modules/player/player.controllers.js"></script>
    <script src="modules/player/player.directives.js"></script>
    <script src="modules/player/playerSearch.services.js"></script>
    <script>window.config.app = {{{ config }}};</script>
</head>
<body>
    <ui-view class="ng-scope" layout="row"></ui-view>
</body>
</html>
