.djsms-player {
    padding: 0;

    .md-toolbar-tools {

        .seperator-icon {
            margin: 0 5px;
        }
    }

    .youtube-search {
        margin-top: 0;
        margin-bottom: 0;

        .search-input {
            width: 100%;
        }
    }

    .youtube-player {
        padding: 10px 0;

        iframe {
            width: 100%;
            border: 1px solid black;
        }
    }

    .search-results {
        max-height: 64px;

        .result-image {
            max-height: 100%;
        }

        .result-text {
            padding-left: 10px;
        }
    }
}
