<md-content layout="column" flex layout-padding role="main" class="md-accent djsms-player">
    <md-input-container class="youtube-search">
        <form ng-submit="player.addVideoToPlaylist(player.searchResult.videoId)">
            <input type="text" ng-model="player.searchText" class="search-input" aria-label="Search Youtube" ng-keyup="player.search()" layout-align="center center">
        </form>
    </md-input-container>
    <md-button class="search-results" ng-if="player.searchResult.thumbnail" ng-click="player.addVideoToPlaylist(player.searchResult.videoId)">
        <div layout="row" layout-align="center center">
            <img class="result-image" src="{{player.searchResult.thumbnail}}">
            <span class="result-text">{{player.searchResult.title}}</span>
        </div>
    </md-button>
    <md-card youtube-player class="youtube-player" playlist="player.playlist" layout="column" layout-align="center center"></md-card>
    <md-list class="song-list">
        <md-list-item ng-repeat="video in player.playlist track by $index" class="song-row md-default-theme">
            <img class="song-image" src="{{video.thumbnail}}">
            <span>{{video.title}}</span>
        </md-list-item>
    </md-list>
</md-content>
