<md-content layout="column" flex layout-padding role="main" class="md-accent djsms-player">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-toolbar-item md-breadcrumb">
                <span><a ui-sref="layout.playlists">Playlists</a></span>
                <span class="seperator-icon">&gt;</span>
                <span md-breadcrumb-page>{{player.playlist.title}}</span>
            </h2>
        </div>
    </md-toolbar>
    <md-input-container class="youtube-search">
        <form ng-submit="player.addVideoToPlaylist(player.searchResult.videoId)">
            <input type="text" ng-model="player.searchText" class="search-input" aria-label="Search Youtube" ng-keyup="player.search()" layout-align="center center">
        </form>
    </md-input-container>
    <md-button class="search-results" ng-if="player.searchResult.thumbnail" ng-click="player.addVideoToPlaylist(player.searchResult.videoId)">
        <div layout="row" layout-align="center center">
            <img class="result-image" src="{{player.searchResult.thumbnail}}">
            <span class="result-text">{{player.searchResult.title}}</span>
        </div>
    </md-button>
    <md-card youtube-player class="youtube-player" playlist="player.playlist" active-video="player.activeVideo" layout="column" layout-align="center center"></md-card>
    <md-list class="song-list">
        <md-list-item ng-repeat="video in player.playlist.videos track by $index" class="song-row md-default-theme" ng-class="{'md-accent': $index === player.playlist.activeVideo}" ng-click="player.playVideo($index)">
            <img class="song-image" src="{{video.thumbnail}}">
            <span>{{video.title}}</span>
        </md-list-item>
    </md-list>
</md-content>
