<md-content layout="column" flex layout-padding role="main" class="md-accent playlists-all">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-toolbar-item">Playlists</h2>
        </div>
    </md-toolbar>
    <form ng-submit="playlists.createPlaylist()">
        <md-input-container class="playlist-create">
            <input type="text" ng-model="playlists.newTitle" class="create-input" aria-label="Create new Playlist" layout-align="center center">
        </md-input-container>
        <md-input-container>
            <md-button type='submit' ng-disabled="!playlists.newTitle">Create Playlist</md-button>
        </md-input-container>
    </form>
    <md-list class="playlists-list">
        <md-list-item ng-repeat="playlist in playlists.playlists track by $index" class="song-row md-default-theme">
            <a ui-sref="layout.playlist({playlistId: playlist.id})" class="md-button">{{playlist.title}}</a>
        </md-list-item>
    </md-list>
</md-content>
